div.d-flex{
    min-height: 80vh;
   }

nav{
    background-color: rgb(232, 27, 106);
}

.nav-link {
    color: white;
} 

.cake{
    font-size: 100px;
}

.btn{
    background-color: rgb(232, 27, 106);
    border-style: none;
}

.button{
    text-align: center;
}